extends layout

block content
 div#axios.container
  h1= title
  p The message is: #{msn}
  h2 AXIOS
  a(:href="users.id"  v-if="users.id == 1" ) RESULTADO
  h2 VUE
  p {{users.id}}
  p {{users.body}}
  form(method="POST", v-on:submit.prevent="validate")
   input(type="email", name="email" placeholder="Escribe un email", v-model="emails")
   span(style="color:Red;")
    p {{errors}}
    #example-3
     input#jack(type='checkbox', value='Jack', v-model='c'  onclick="update('JACK')")
     label(for='jack') Jack
     br
     input#john(type='checkbox', value='John', v-model='c' onclick="update('John')")
     label(for='john') John
     br
     input#mike(type='checkbox', value='Mike', v-model='c' onclick="update('Mike')")
     label(for='mike') Mike
     br
     br
     span Checked names: {{ c }}
     br


   button.btn(v-on:click.prevent="validate(emails)") Validar
block scripts
  script.
    function update(name){
       console.log('--'+name);
    }
    new Vue({
     el: '#axios',
     data: {
     	users:[],
     	emails:'',
     	errors:'',
     	c:[],
     	id:'',

     },
     created:function(){
       this.index();
     },
     methods: {
      	index: function(){
         var data = this;
          axios.get('https://jsonplaceholder.typicode.com/posts/1')
           .then(function (response) {
             data.users = response.data;
             console.log(data.users);
         });
      	},
      	validate: function(emails){
         var data = this;
          axios.post('/')
           .then(function (response) {
             data.users = response.data;
             console.log(data.users);
            })
           .catch(function (error) {
            this.errors = 'Error! Could not reach the API. ' + error;
           })
      		//- if(emails==""){
      		//-  this.errors = "Igresa un correo electronico";
      	},

      	update: function(c){
      		console.log(this.c);
      	},
      }
    });
